/* General Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    color: #333;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #ffcc00;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  
  
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
  }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#place-order h2 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Form Styling */
#order-form label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

#order-form select,
#order-form textarea,
#order-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#order-form textarea {
    height: 100px;
    resize: vertical;
}

/* Order Summary Section */
#order-summary {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#order-summary h3 {
    font-size: 1.2em;
    color: #333;
}

#order-summary p {
    margin: 5px 0;
    color: #555;
}

/* Button Styling */
#place-order-button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#place-order-button:hover {
    background-color: #ffcc00;
}




/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    font-size: 16px;
    margin-bottom: 10px;
  }